In [1]:
import pandas as pd
import numpy as np

In [2]:
countrylist = pd.read_csv('C:\\Users\\Arty\\Desktop\\julia\\IronHack\\Datasets\\stats\\Country-Code-Mapping.csv')
countrylist.head(10)

   Value                Label
0      4          Afghanistan
1      6              Albania
2      7              Algeria
3      8       American Samoa
4      9              Andorra
5     10               Angola
6     12            Argentina
7     13              Armenia
8     14  Asia/Pacific Region
9     15            Australia

In [3]:
countrylist.Label = countrylist.Label.apply(lambda x: x.lower())
countrylist.head()

   Value           Label
0      4     afghanistan
1      6         albania
2      7         algeria
3      8  american samoa
4      9         andorra

In [4]:
countrylist.columns=['number','country']

In [5]:
countrylist.shape

(152, 2)

In [7]:
countrygdp = pd.read_csv('C:\\Users\\Arty\\Desktop\\julia\\IronHack\\Datasets\\stats\\countrygdp2.csv', sep=';')

In [10]:
countrygdp.columns=['country','gdp']

In [11]:
countrygdp.country = countrygdp.country.apply(lambda x: x.lower())

countrygdp.sort_values(by=['country'],inplace=True)

In [12]:
countrygdp.head(70)

                                         country           gdp
0                                    afghanistan  1.954398e+10
2                                        albania  1.303854e+10
57                                       algeria  1.675553e+11
8                                 american samoa  6.340000e+08
3                                        andorra  3.012914e+09
1                                         angola  1.221238e+11
9                            antigua and barbuda  1.510085e+09
4                                     arab world  2.584531e+12
6                                      argentina  6.374303e+11
7                                        armenia  1.153659e+10
10                                     australia  1.323421e+12
11                                       austria  4.168360e+11
12                                    azerbaijan  4.074779e+10
20                                  bahamas. the  1.216210e+10
19                                       bahrain  3.543269e+10
17                                    bangladesh  2.497239e+11
27                                      barbados  4.673500e+09
22                                       belarus  5.445647e+10
14                                       belgium  4.947636e+11
23                                        belize  1.862615e+09
15                                         benin  9.246697e+09
24                                       bermuda           NaN
29                                        bhutan  2.528008e+09
25                                       bolivia  3.750864e+10
21                        bosnia and herzegovina  1.805485e+10
30                                      botswana  1.740657e+10
26                                        brazil  2.053595e+12
252                       british virgin islands           NaN
28                             brunei darussalam  1.212809e+10
18                                      bulgaria  5.822097e+10
..                                           ...           ...
226                                         chad  9.871248e+09
35                               channel islands           NaN
36                                         chile  2.770759e+11
37                                         china  1.223770e+13
42                                      colombia  3.144576e+11
43                                       comoros  1.068124e+09
40                              congo. dem. rep.  3.764248e+10
41                                   congo. rep.  8.701335e+09
45                                    costa rica  5.728598e+10
38                                 cote d'ivoire  3.735328e+10
96                                       croatia  5.521309e+10
47                                          cuba  9.685100e+10
48                                       curacao           NaN
50                                        cyprus  2.205423e+10
51                                czech republic  2.159135e+11
55                                       denmark  3.298655e+11
53                                      djibouti  1.844674e+09
54                                      dominica  4.967270e+08
56                            dominican republic  7.593166e+10
59                    early-demographic dividend  1.134464e+13
60                           east asia & pacific  2.399490e+13
58   east asia & pacific (excluding high income)  1.473944e+13
227   east asia & pacific (ida & ibrd countries)  1.471118e+13
63                                       ecuador  1.042960e+11
64                              egypt. arab rep.  2.353691e+11
208                                  el salvador  2.480544e+10
85                             equatorial guinea  1.229358e+10
66                                       eritrea           NaN
68                                       estonia  2.661165e+10
221                                     eswatini  4.433664e+09

[70 rows x 2 columns]

In [13]:
result = pd.merge(countrylist, countrygdp, how='left', on='country')

In [14]:
result.drop("number",axis=1,inplace=True)

In [15]:
result['country'][result['gdp'].isna()==True].tolist()

['asia/pacific region',
 'bermuda',
 'british indian ocean territory',
 'cayman islands',
 'chennai',
 'cn',
 'curaçao',
 'czechia',
 'egypt',
 'europe',
 'hong kong',
 'iran',
 'kyrgyzstan',
 'macao',
 'macedonia',
 'north korea',
 'palestine',
 'puerto rico',
 'republic of lithuania',
 'republic of moldova',
 'south korea',
 'swaziland',
 'syrian arab republic',
 'taiwan',
 'venezuela',
 'yemen']

In [16]:
dictgdpcomplete = {'south korea':1619.42e9,
 'curaçao':3.12e9,
 'egypt':235369129337.711,
 'venezuela':98.47e9,
 'macedonia':12.67e9,
 'taiwan':589.39e9,
 'hong kong':363.03e9,
 'iran':452.28e9,
 'czechia':242.05e9,
 'republic of lithuania':53.32e9,
 'palestine':14.50e9,
 'puerto rico':104.34,
 'bermuda':5.57e9,
 'swaziland':4.68e9,
 'yemen':31.27e9,
 'syrian arab republic':15.18e9,
 'republic of moldova':11.40e9,
 'north korea':17.36e9,
 'macao':45.3e9,
 'kyrgyzstan':8.09e9,
 'cayman islands':3.21e9}

In [17]:
result.dtypes

country     object
gdp        float64
dtype: object

In [18]:
dictgdpcomplete['yemen']

31270000000.0

In [19]:
j=[]
for q,x in result.iterrows():
    if (x.country in dictgdpcomplete.keys())==True:
        j.append(dictgdpcomplete[x.country])
    else:
        j.append(result.gdp[q])

result['gdp1']=j

In [20]:
result.drop('gdp', axis=1, inplace=True)

In [21]:
result.dropna(inplace=True)

In [22]:
result

                    country          gdp1
0               afghanistan  1.954398e+10
1                   albania  1.303854e+10
2                   algeria  1.675553e+11
3            american samoa  6.340000e+08
4                   andorra  3.012914e+09
5                    angola  1.221238e+11
6                 argentina  6.374303e+11
7                   armenia  1.153659e+10
9                 australia  1.323421e+12
10                  austria  4.168360e+11
11               azerbaijan  4.074779e+10
12               bangladesh  2.497239e+11
13                 barbados  4.673500e+09
14                  belarus  5.445647e+10
15                  belgium  4.947636e+11
16                   belize  1.862615e+09
17                  bermuda  5.570000e+09
18                  bolivia  3.750864e+10
19   bosnia and herzegovina  1.805485e+10
20                   brazil  2.053595e+12
22                 bulgaria  5.822097e+10
23                 cambodia  2.215821e+10
24                 cameroon  3.492278e+10
25                   canada  1.647120e+12
26           cayman islands  3.210000e+09
28                    chile  2.770759e+11
29                    china  1.223770e+13
31                 colombia  3.144576e+11
32               costa rica  5.728598e+10
33            cote d'ivoire  3.735328e+10
..                      ...           ...
122         slovak republic  9.561767e+10
123                slovenia  4.876966e+10
124                 somalia  7.052000e+09
125            south africa  3.488716e+11
126             south korea  1.619420e+12
127                   spain  1.314314e+12
128               sri lanka  8.735721e+10
129                   sudan  1.174879e+11
130               swaziland  4.680000e+09
131                  sweden  5.356074e+11
132             switzerland  6.789654e+11
133    syrian arab republic  1.518000e+10
134                  taiwan  5.893900e+11
135              tajikistan  7.146450e+09
136                tanzania  5.332063e+10
137                thailand  4.553027e+11
138                    togo  4.757776e+09
139                 tunisia  3.995210e+10
140                  turkey  8.515493e+11
141                  uganda  2.599503e+10
142                 ukraine  1.121542e+11
143    united arab emirates  3.825751e+11
144          united kingdom  2.637866e+12
145           united states  1.948540e+13
146                 uruguay  5.615697e+10
147              uzbekistan  4.967717e+10
148               venezuela  9.847000e+10
149                 vietnam  2.237799e+11
150                   yemen  3.127000e+10
151                zimbabwe  2.204090e+10

[147 rows x 2 columns]

In [23]:
result["gdp1"].astype(float)

0      1.954398e+10
1      1.303854e+10
2      1.675553e+11
3      6.340000e+08
4      3.012914e+09
5      1.221238e+11
6      6.374303e+11
7      1.153659e+10
9      1.323421e+12
10     4.168360e+11
11     4.074779e+10
12     2.497239e+11
13     4.673500e+09
14     5.445647e+10
15     4.947636e+11
16     1.862615e+09
17     5.570000e+09
18     3.750864e+10
19     1.805485e+10
20     2.053595e+12
22     5.822097e+10
23     2.215821e+10
24     3.492278e+10
25     1.647120e+12
26     3.210000e+09
28     2.770759e+11
29     1.223770e+13
31     3.144576e+11
32     5.728598e+10
33     3.735328e+10
           ...
122    9.561767e+10
123    4.876966e+10
124    7.052000e+09
125    3.488716e+11
126    1.619420e+12
127    1.314314e+12
128    8.735721e+10
129    1.174879e+11
130    4.680000e+09
131    5.356074e+11
132    6.789654e+11
133    1.518000e+10
134    5.893900e+11
135    7.146450e+09
136    5.332063e+10
137    4.553027e+11
138    4.757776e+09
139    3.995210e+10
140    8.515493e+11
141    2.599503e+10
142    1.121542e+11
143    3.825751e+11
144    2.637866e+12
145    1.948540e+13
146    5.615697e+10
147    4.967717e+10
148    9.847000e+10
149    2.237799e+11
150    3.127000e+10
151    2.204090e+10
Name: gdp1, Length: 147, dtype: float64

In [24]:
result.head()

          country          gdp1
0     afghanistan  1.954398e+10
1         albania  1.303854e+10
2         algeria  1.675553e+11
3  american samoa  6.340000e+08
4         andorra  3.012914e+09

In [26]:
result.to_csv('contrygdptest',index=None)